<h1>Checkers</h1>

<% @board.board_arr.each do |item| %>
  <%= item %>
<% end %>

<form action="/checkers/place_piece" method="post" >

  <label>Piece name</label>
  <input type="text" name="name_from_form" >
  <input type="submit" value="Submit!" >
</form>
